.parallax_top {
	background: url(../imgs/sarah-dorweiler-x2Tmfd1-SgA-unsplash_smaller.jpg);
	height: 40vh;
	background-repeat: no-repeat;
	background-size: 100%;
}

@supports (-webkit-touch-callout: none) {
	.parallax_top {
		background-attachment: scroll;
	}
}

@supports not (-webkit-touch-callout: none) {
	.parallax_top {
		background-attachment: fixed;
	}
}

#sending_message {
	color: pink;
}

#success_message {
	color: #BED0B9;
}

#fail_message {
	color: red;
}

#consult_message {
	color: #BED0B9;
}

.alert_message {
	font-weight: 400;
	font-size: 2rem;
}

#submit_button {
	margin: 3vh 0;
}

.section {
	margin-top: 3vh;
}

h6 {
	margin-bottom: 1rem;
}
/* 
.container {
	max-width: 45%;
} */

.navbar {
	font-size: 1.5rem;
}

@media (max-width: 767.98px) {
	nav {
		padding: .25rem 1rem .5rem 1rem !important;
	}
	.container {
		max-width: 85%;
	}
}

@media (min-width: 768px) {
	nav {
		padding: .25rem 1rem .5rem 2rem !important;
	}
}

@media (max-width: 991.98px) {
	.container {
		max-width: 70%;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 60%;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 50% !important;
	}
}