.parallax_top {
	background: url(../imgs/tim-chow-9IcKPSQ9G5Q-unsplash.jpg);
	height: 80vh;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax_mid {
	background: url(../imgs/jazmin-quaynor-8ioenvmof-I-unsplash_smaller.jpg);
	height: 65vh;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 600px) {
	.parallax_mid {
		height: 50vh;
		background: url(../imgs/jazmin-quaynor-8ioenvmof-I-unsplash_smaller2.jpg);
		background-size: cover;
	}
}

.parallax_bottom {
	background: url(../imgs/eric-muhr-6G_fAiRv64E-unsplash.jpg);
	height: 65vh;
	width: 100vw;
	margin-left: -15%;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 10vh;
}

.website_title_container {

}
/* @media (max-width: 600px) {
	.website_title {
		font-size: 2.5rem;
	}
} */

@supports (-webkit-touch-callout: none) {
	.parallax_top {
		background-attachment: scroll;
	}
	.parallax_mid {
		background-attachment: scroll;
	}
	.parallax_bottom {
		background-attachment: scroll;
	}
}

@supports not (-webkit-touch-callout: none) {
	.parallax_top {
		background-attachment: fixed;
	}
	.parallax_mid {
		background-attachment: fixed;
	}
	.parallax_bottom {
		background-attachment: fixed;
	}
}

#logo_img {
	max-height: 50vh;
	opacity: 85%;
	margin: 3% 0 3% 0;
}