.navbar {
	opacity: 0.9;
	/* min-height: 10vh; */
	font-weight: 300;
	font-size: 1.65rem;
	padding: 7% 10% 0% 10%;
	white-space: nowrap;
}

nav.fixed-top {
	background-color: #f6fff5 !important;
	font-size: 1.5rem;
}

@media (max-width: 767.98px) {
	nav.fixed-top {
		padding: .25rem 1rem .5rem 1rem !important;
	}
}

@media (min-width: 768px) {
	nav.fixed-top {
		padding: .25rem 1rem .5rem 2rem !important;
	}
}

.home-link {
	font-weight: 500;
}

.bg-light {
	background-color: transparent !important;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: #476343;
}

.navbar-light .navbar-nav .nav-link {
	color: #476343;
	padding: 0 .5rem .5rem .5rem;
}

.fixed-top .navbar-nav .active>.nav-link {
	color: #476343;
}

.fixed-top .navbar-nav .nav-link {
	color: #476343;
}

.nav-item {
	text-align: center;
}

.nav-item:hover .fa-leaf {
	visibility: visible;
}

.nav-item:hover .nav-link a {
	color: #EDD068;
}

.fa-leaf {
	color: white;
	visibility: hidden;
}

.fixed-top .fa-leaf {
	color: #EDD068;
}

#oldParallaxTarget>nav>div.navbar-collapse>ul>li:hover>a {
	color: white;
}

#oldParallaxTarget>nav.fixed-top>div.navbar-collapse>ul>li:hover>a {
	color: #EDD068;
}
