<span id="hack" class="position-fixed"></span>
<div id="oldParallaxTarget" class="parallax_top">
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<div class="navbar-collapse collapse w-100 order-1 dual-collapse2">
			<ul id="logo" class="navbar-nav mr-auto d-none">
				<li class="nav-item active">
					<i class="fa fa-leaf d-none d-md-block" aria-hidden="true"></i>
					<a class="nav-link my-md home-link" href="index.php">Mindful Living</a>
				</li>
			</ul>
		</div>
		<div class="mx-auto order-0">
			<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".dual-collapse2">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<i class="fa fa-leaf d-none d-md-block" aria-hidden="true"></i>
					<a class="nav-link my-md" href="onlinetherapy.php">Online Therapy</a>
				</li>
				<li class="nav-item">
					<i class="fa fa-leaf d-none d-md-block" aria-hidden="true"></i>
					<a class="nav-link my-md" href="about.php">About</a>
				</li>
				<li class="nav-item">
					<i class="fa fa-leaf  d-none d-md-block" aria-hidden="true"></i>
					<a class="nav-link my-md" href="specialities.php">Specialties</a>
				</li>
				<li class="nav-item">
					<i class="fa fa-leaf d-none d-md-block" aria-hidden="true"></i>
					<a class="nav-link my-md" href="faq.php">FAQ</a>
				</li>
				<li class="nav-item">
					<i class="fa fa-leaf d-none d-md-block" aria-hidden="true"></i>
					<a class="nav-link my-md" href="contact.php"></i>Contact</a>
				</li>
			</ul>
		</div>
	</nav>